*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* border: 1px solid red; */
}

body{
    max-width: 1200px;
    margin: 0 auto;
}

/* img{
    width: 100%;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    height: 80px;
}

.left-nav{
    display: flex;
    align-items: center;

}

.left-nav ul {
    display: flex;
    gap: 20px;
    margin: 0 0 0 30px;
}

.left-nav ul li{
    height: 100%;
    position: relative;
    color : lightgray;
}

.left-nav li:hover::after {
    content: "";
    position: absolute;
    bottom: -30px;
    border-radius: 10px;
    display: block;
    background-color: orange;
    width: 100%;
    height: 5px;
}

.right-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.compte img{
    width: 40px;
}

.compte img:hover {
    border: 2px solid orange;
    border-radius: 50%;
}

.panier {
    position: relative;
}

.panier button {
    background: none;
    border: none;
    cursor: pointer;
}

/* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px;
}

.main-left {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

.main-left img{
    width: 100%;
    border-radius: 10px;
}

.big-image{
    margin-bottom: 35px;
    cursor: pointer;
}

.selection-images {
    display: flex;
    width: 20%;
    gap: 34%;
}

.main-right {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 60px auto 0;
}

.description h3{
    color: orange;
    margin-bottom: 20px;
}

.description h1{
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.description p{
    color: gray;
    font-size: 1.2rem;
    line-height: 25px;
    margin-bottom: 30px;
}

.selection-images {
    width: 100%;
}

.options {
    display: flex;
    gap: 15px;
}

.active {
    border: 3px solid orange;
    border-radius: 15px;
}

.active img {
    opacity: 0.5;
}

.options-image img {
    height: 100%;
}

.modal{
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;  
    position: fixed;
    z-index: 1;  
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.5);
}

.modal-content{
    margin: 10% auto;
    max-width: 700px;
    width: 85%;
    position: relative;
}

.modal-content img {
    width: 100%;
    border-radius: 10px;
}

.closeBtn {
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: 2rem;
    cursor: pointer;
}

.leftBtn, .rightBtn {
    position: absolute;
    padding: 15px 20px;
    border-radius: 50%;
    top: 50%;
    background: #F4F4F4;
    cursor: pointer;
}

.leftBtn {
    left: -25px;
}

.rightBtn {
    right: -25px;
}

.panier-modal {
    display: none;
    /* display: flex; */
    position: fixed;
    z-index: 1;  
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.panier-containeur {
    background: #F4F4F4;
    position: relative;
    height: 300px;
    width: 300px;
    top: 70px;
    left: 75%;
}


/* Boutton acheter */

.action {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 25%;
}

.numbers {
    display: flex;
    gap: 5px;
    margin: 5px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
}

.numbers button {
    padding: 5px;
    background: none;
    border: none;
    cursor: pointer;
}

.quantity {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 0 10px;
}